.container {
  margin: 0px auto;
  padding: 0px 15px;
  @media (min-width:767px){
    width: 767px;
  }
  @media (min-width:900px){
    width: 900px;
  }
  @media (min-width:1200px){
    width: 1200px;
  }
}